body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  pointer-events: none;
}

header .container {
  padding: 32px  72px;
}

header .container nav {
  display: flex;
  justify-content: space-between;
}


nav ul.navbar {
  list-style: none;
  margin: unset;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  font-size: 20px;
  line-height: 24px; /* 120% */
}

nav ul.navbar li a {
  color: #A1ACB3;
  text-decoration: none;
}

nav ul.navbar li a.selected {
  color: #585B5F;
}

nav ul.navbar li a#button {  
  background-color: #9D35F2;
  border-radius: 8px;

  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav ul.navbar li a#button img {
  width: 30px;
  height: 30px;
}


nav ul.navbar li a#button {
  color: white;
}

.title {
  color: #1E1E1E;
  
  font-size: 48px;
  line-height: 120%; /* 57.6px */
  margin: 0px;
}

h1.title {
  margin-bottom: 29px;
}

.text {
  color: #585B5F;

  font-size: 20px;
  font-weight: 500;
  line-height: 120%; /* 24px */
  margin: 0px;
}

p.text {
  margin-bottom: 34px;
  width: 586px;
}

a.button {
  border-radius: 8px;
  background: #9D35F2;
  color: white;
  font-size: 20px;

  display: inline-flex;
  padding: 13px 34px;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

a.button img {
  width: 36px;
  height: 36px;
}

main {
  display: flex;
  margin-left: 84px;
  margin-top: 134.56px;
}
