* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafc;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #dcdee7;

  font-size: 14px;
}

header div.wrapper-header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 10.5px 48.29px;
}

header img.logo {
  width: 80.43px;
  height: 38.83px;
}

header ul {
  list-style: none;
  padding: 12px 6px;
  display: flex;
  gap: 34px;
}

header ul li a {
  text-decoration: none;

  font-weight: 600;
  color: #585b5f;
}

.purple {
  color: #8000ad;
}

header form {
  width: 357px;
  height: 48px;
  border-radius: 12px;
  background-color: #f2f5f9;

  display: flex;
  flex-direction: row-reverse;
}

header form input {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 1px;

  background-color: #f2f5f9;
  font-size: 14px;
  color: #585b5f;
  font-weight: 500;
}

header form button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 12px;
  margin-left: 10px;
}

header form p {
  position: absolute;
  background-color: #fff;
  padding: 4px 14.5px;
  margin-top: 12.5px;
  margin-right: 10px;
  border-radius: 6px;

  font-size: 12px;
  font-weight: 500;
}

header div.middle-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

header div.middle-bar button.theme {
  height: 46px;
  width: 46px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  background-color: #f2f5f9;
}

header nav.account {
  display: flex;
  gap: 16px;
}

header nav.account a {
  text-decoration: none;
  padding: 14px 16px;
  border-radius: 12px;

  font-weight: bold;
}

header nav.account a#account-create {
  color: #8000ad;
}

header nav.account a#account-login {
  color: #fff;
  background-color: #8000ad;
}

main div.header-main {
  display: flex;
  gap: 44px;
  margin-top: 51px;
  font-size: 14px;
  color: #585b5f;
  font-weight: 500;
  margin-left: 52px;

  position: relative;
  top: 2px;
}

main div.header-main p.purple {
  display: flex;
  gap: 11.5px;
  flex-direction: column;
  align-items: center;
}

main div.header-main p.purple::after {
  content: "";
  display: block;
  width: 114px;
  height: 4px;
  border-radius: 100px;
  background-color: #8000ad;
}

main .container-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e1e1e;
  height: 576px;
}

main .content-container-main {
  max-width: 525px;
}

.content-container-main h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 39px;
}

.content-container-main p {
  font-weight: Medium;
  margin-bottom: 42px;
}

.content-container-main h1,
.content-container-main p {
  color: #fff;
}

.content-container-main h1 span {
  color: #9d35f2;
  display: block;
}

.content-container-main a {
  color: #f8f8f8;
  padding: 14px 24px;
  display: inline-block;
}

.purple-button {
  background-color: #8000ad;
  border-radius: 24px;
  padding: 12px 24px;
  cursor: pointer;
  text-decoration: none;
}

section.news {
  margin: 44px 21px 44.97px 48px;
  color: #1e1e1e;
}

section h2.section-title {
  font-size: 36px;
  font-weight: bold;
  color: #1e1e1e;

  margin-bottom: 36px;
}

section div.news {
  box-sizing: border-box;
  padding: 20px;
  background-color: #f2f5f9;

  border-radius: 24px;
  border: 1px solid #dcdee7;
  max-height: 510.03px;
}

section div.news p {
  color: #585b5f;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

section div.news h3 {
  font-size: 24px;
  font-weight: bold;
  color: #1e1e1e;
  margin-top: 31px;
}

section div.news div.news-container {
  display: flex;
  gap: 98px;
  justify-content: space-between;
}

section div.news div.news-container #news-img {
  margin-top: 31px;
  width: 654px;
  height: 362.03px;
}

section div.news-content {
  display: flex;
  flex-direction: column;
  gap: 31px;
  max-width: 580px;
  max-height: 325px;
  margin-top: 49.52px;
}

div.news-content div {
  display: flex;
  gap: 12px;
  align-items: center;
}

div.news-content div img {
  width: 18.67px;
  height: 18.67px;
  background-color: #8000ad;
  border-radius: 12px;
  padding: 7px;
}

div.news-content div p {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 500;
  line-height: 163%;
  letter-spacing: -0.25px;
  text-transform: none;
}

section.platforms {
  margin-left: 48px;
  margin-right: 68px;
  margin-bottom: 45px;

  height: 772px;
  max-width: 1324px;
}

section.platforms div.wrapper-platforms {
  display: flex;
  justify-content: space-between;
}

section.platforms div.platform {
  display: flex;
  flex-direction: column;
  gap: 31px;

  color: #fff;
  background-color: #1e1e1e;
  border-radius: 24px;
  padding: 20px;

  max-width: 631px;
}

section.platforms div.platform p.role {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;

  letter-spacing: -0.25px;
}

section.platforms div.platform h3 {
  font-size: 24px;
  font-weight: bold;
}

section.platforms div.platform p.text {
  font-size: 18px;
  font-weight: 500;

  letter-spacing: -0.25px;
  line-height: 163%;

  max-width: 527px;
}

section.platforms div.platform a.purple-button {
  max-width: 213px;
  color: #fff;
  font-weight: 600;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 12px;
}

section.platforms div.platform img.platform-img {
  width: 272px;
  height: 374px;
  margin: auto;
}

footer {
  background-color: #fff;
}

footer div.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  height: 160px;

  border-top: 1px solid #dcdee7;
}

footer div.footer-top div.menu h4.menu-title {
  font-size: 14px;
  font-weight: bold;
  color: #585b5f;
}

footer div.footer-top div.menu ul {
  list-style: none;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer div.footer-top div.menu ul li a {
  display: flex;
  gap: 6px;

  text-decoration: none;
  font-style: 14px;
  font-weight: 500;
  color: #585b5f;
}

footer div.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #585b5f;

  border-top: 1px solid #dcdee7;
  height: 69px;
}

footer div.footer-bottom p#copyright {
  font-weight: bold;
}

footer div.footer-bottom ul {
  list-style: none;
  display: flex;
  gap: 12px;

  font-weight: 500;
}

footer div.footer-bottom ul li a {
  text-decoration: none;
  color: #585b5f;
}

footer div.footer-bottom form {
  display: flex;
  background-color: #f2f5f9;
  max-width: 372px;
  border-radius: 24px;
}

footer div.footer-bottom form input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #585b5f;

  background-color: #f2f5f9;
  border-radius: 24px;
  border: none;

  padding: 14px 16px;

  width: 247px;
  margin-right: 4px;
}

footer div.footer-bottom form button {
  white-space: nowrap;
  width: 119px;
  padding: 14px 16px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

footer div.footer-bottom button#language {
  color: #1e1e1e;
  background-color: #fff;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 10px;
  border: 1px solid #dcdee7;
  border-radius: 12px;

  cursor: pointer;
}
