* {
  margin: 0;
  padding: 0;
}

:root {
  --background-primary: #fff;
  --background-secondary: #fafafc;
  --background-inputs: #f2f5f9;
  --text-primary: #1e1e1e;
  --border-primary: #dcdee7;
}

[data-theme="dark"] {
  --background-primary: #0d0d0d;
  --background-secondary: #0d0d0d;
  --background-inputs: #1e1e1e;
  --text-primary: #d4d4d4;
  --border-primary: #1e1e1e;

  header img#logoWhite {
    display: none;
  }

  header img#logoDark {
    display: block;
  }

  header div.middle-bar label img#SunIcon {
    display: none;
  }

  header div.middle-bar label img#MoonIcon {
    display: block;
  }

  button#language svg path {
    fill: var(--text-primary);
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-primary);
}

header {
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--border-primary);
  font-size: 14px;
}

header div.wrapper-header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 10.5px 48.29px;
}

header img.logo {
  width: 80.43px;
  height: 38.83px;
}

header img#logoDark {
  display: none;
}

header ul {
  list-style: none;
  padding: 12px 6px;
  display: flex;
  gap: 34px;
}

header ul li a {
  text-decoration: none;

  font-weight: 600;
  color: #585b5f;
}

.purple {
  color: #8000ad;
}

header form {
  width: 357px;
  height: 48px;
  border-radius: 12px;
  background-color: var(--background-inputs);

  color: #585b5f;

  display: flex;
  flex-direction: row-reverse;
}

header form input {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 1px;

  background-color: var(--background-inputs);
  font-size: 14px;
  color: #585b5f;
  font-weight: 500;
}

header form button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 12px;
  margin-left: 10px;
}

header form p {
  position: absolute;
  background-color: var(--background-primary);
  padding: 4px 14.5px;
  margin-top: 12.5px;
  margin-right: 10px;
  border-radius: 6px;

  font-size: 12px;
  font-weight: 500;
}

header div.middle-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

header div.middle-bar label.theme-switch {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 46px;
  width: 46px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  background-color: var(--background-inputs);
}

header div.middle-bar label.theme-switch input {
  visibility: hidden;
  position: absolute;
}

header div.middle-bar label img#MoonIcon {
  display: none;
}

header nav.account {
  display: flex;
  gap: 16px;
}

header nav.account a {
  text-decoration: none;
  padding: 14px 16px;
  border-radius: 12px;

  font-weight: bold;
}

header nav.account a#account-create {
  color: #8000ad;
}

header nav.account a#account-login {
  color: #fff;
  background-color: #8000ad;
}

main div.header-main {
  display: flex;
  gap: 44px;
  margin-top: 51px;
  font-size: 14px;
  color: #585b5f;
  font-weight: 500;
  margin-left: 52px;

  position: relative;
  top: 2px;
}

main div.header-main p.purple {
  display: flex;
  gap: 11.5px;
  flex-direction: column;
  align-items: center;
}

main div.header-main p.purple::after {
  content: "";
  display: block;
  width: 114px;
  height: 4px;
  border-radius: 100px;
  background-color: #8000ad;
}

main .container-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e1e1e;
  height: 576px;
}

main .content-container-main {
  max-width: 525px;
}

.content-container-main h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 39px;
}

.content-container-main p {
  font-weight: Medium;
  margin-bottom: 42px;
}

.content-container-main h1,
.content-container-main p {
  color: #fff;
}

.content-container-main h1 span {
  color: #9d35f2;
  display: block;
}

.content-container-main a {
  color: #f8f8f8;
  padding: 14px 24px;
  display: inline-block;
}

.purple-button {
  background-color: #8000ad;
  border-radius: 24px;
  padding: 12px 24px;
  cursor: pointer;
  text-decoration: none;
}

section.news {
  margin: 44px auto 44.97px auto;
  max-width: 1372px;
  color: var(--text-primary);
}

section h2.section-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-primary);

  margin-bottom: 36px;
}

section div.news {
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--background-inputs);

  border-radius: 24px;
  border: 1px solid var(--border-primary);
  max-height: 510.03px;
}

section div.news p {
  color: #585b5f;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

section div.news h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-primary);
  margin-top: 31px;
}

section div.news div.news-container {
  display: flex;
  gap: 98px;
  justify-content: space-between;
}

section div.news div.news-container #news-img {
  margin-top: 31px;
  width: 654px;
  height: 362.03px;
}

section div.news-content {
  display: flex;
  flex-direction: column;
  gap: 31px;
  max-width: 580px;
  max-height: 325px;
  margin-top: 49.52px;
}

div.news-content div {
  display: flex;
  gap: 12px;
  align-items: center;
}

div.news-content div img {
  width: 18.67px;
  height: 18.67px;
  background-color: #8000ad;
  border-radius: 12px;
  padding: 7px;
}

div.news-content div p {
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 163%;
  letter-spacing: -0.25px;
  text-transform: none;
}

section.platforms {
  margin: auto;
  margin-bottom: 45px;

  height: 772px;
  max-width: 1372px;
}

section.platforms div.wrapper-platforms {
  display: flex;
  justify-content: space-between;
}

section.platforms div.platform {
  display: flex;
  flex-direction: column;
  gap: 31px;

  color: #fff;
  background-color: #1e1e1e;
  border-radius: 24px;
  padding: 20px;

  max-width: 631px;
}

section.platforms div.platform p.role {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;

  letter-spacing: -0.25px;
}

section.platforms div.platform h3 {
  font-size: 24px;
  font-weight: bold;
}

section.platforms div.platform p.text {
  font-size: 18px;
  font-weight: 500;

  letter-spacing: -0.25px;
  line-height: 163%;

  max-width: 527px;
}

section.platforms div.platform a.purple-button {
  max-width: 213px;
  color: #fff;
  font-weight: 600;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 12px;
}

section.platforms div.platform img.platform-img {
  width: 272px;
  height: 374px;
  margin: auto;
}

footer {
  background-color: var(--background-primary);
}

footer div.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  height: 160px;

  border-top: 1px solid var(--border-primary);
}

footer div.footer-top div.menu h4.menu-title {
  font-size: 14px;
  font-weight: bold;
  color: #585b5f;
}

footer div.footer-top div.menu ul {
  list-style: none;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer div.footer-top div.menu ul li a {
  display: flex;
  gap: 6px;

  text-decoration: none;
  font-style: 14px;
  font-weight: 500;
  color: #585b5f;
}

footer div.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #585b5f;

  border-top: 1px solid var(--border-primary);
  height: 69px;
}

footer div.footer-bottom p#copyright {
  font-weight: bold;
}

footer div.footer-bottom ul {
  list-style: none;
  display: flex;
  gap: 12px;

  font-weight: 500;
}

footer div.footer-bottom ul li a {
  text-decoration: none;
  color: #585b5f;
}

footer div.footer-bottom form {
  display: flex;
  background-color: var(--background-inputs);
  max-width: 372px;
  border-radius: 24px;
}

footer div.footer-bottom form input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #585b5f;

  background-color: var(--background-inputs);
  border-radius: 24px;
  border: none;

  padding: 14px 16px;

  width: 247px;
  margin-right: 4px;
}

footer div.footer-bottom form button {
  white-space: nowrap;
  width: 119px;
  padding: 14px 16px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

footer div.footer-bottom button#language {
  color: var(--text-primary);
  background-color: var(--background-primary);

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 10px;
  border: 1px solid var(--border-primary);
  border-radius: 12px;

  cursor: pointer;
}

@media (max-width: 1390px) {
  header div.wrapper-header {
    white-space: nowrap;
    padding-inline: 20px;

    gap: 20px;
  }

  main .container-main {
    padding-inline: 20px;
  }

  main .content-container-main {
    max-width: none;
  }

  .content-container-main h1 span {
    display: inline;
  }

  main .container-main img {
    display: none;
  }

  section.news,
  section.platforms {
    margin-inline: 20px;
  }
}

@media (max-width: 1200px) {
  header div.wrapper-header {
    flex-direction: column;
  }

  section div.news-content {
    max-width: none;
  }
  section div.news div.news-container #news-img {
    display: none;
  }

  section.platforms {
    height: auto;
  }

  section.platforms div.wrapper-platforms {
    gap: 20px;
  }
}

@media (max-width: 1100px) {
  footer div.footer-top {
    padding: 20px;
    gap: 20px;
    height: auto;
    flex-wrap: wrap;
  }

  footer div.footer-bottom {
    flex-wrap: wrap;
    padding: 20px;
    height: auto;
    gap: 20px;
  }
}

@media (max-width: 890px) {
  footer div.footer-top {
    gap: 40px;
    padding-bottom: 40px;
  }
  footer div.footer-bottom {
    gap: 25px;
  }
}

@media (max-width: 710px) {
  header form p {
    display: none;
  }

  main div.header-main {
    margin-left: 20px;
    gap: 20px;
  }

  section div.news,
  section div.news-content {
    max-height: none;
  }

  section.platforms div.platform {
    width: 100%;
  }

  section.platforms div.platform img.platform-img {
    width: 100%;
  }

  section.platforms div.wrapper-platforms {
    flex-wrap: wrap;
  }
}

@media (max-width: 460px) {
  header form {
    width: auto;
  }
  header ul {
    gap: 24px;
  }

  main div.header-main {
    margin-left: 7px;
  }

  .content-container-main h1 {
    font-size: 40px;
  }

  section.platforms {
    max-width: 427px;
    margin: 0px;
    margin-bottom: 45px;
    padding-inline: 20px;
  }

  footer div.footer-bottom form input {
    width: 100%;
    margin-right: 0px;
  }

  footer div.footer-bottom form button {
    width: 100%;
    max-width: 118.58px;
  }
}

/* 
@media (min-width: 1441px) {
  section.news {
    max-width: 1612px;
    padding-inline: 48px;
  }

  section.platforms {
    max-width: 1612px;
    padding-inline: 48px;
  }
} */
