* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #dcdee7;

  font-size: 14px;
}

header div.wrapper-header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 10.5px 48.29px;
}

header img.logo {
  width: 80.43px;
  height: 38.83px;
}

header ul {
  list-style: none;
  padding: 12px 6px;
  display: flex;
  gap: 34px;
}

header ul li a {
  text-decoration: none;

  font-weight: 600;
  color: #585b5f;
}

header ul li a.purple {
  color: #8000ad;
}

header form {
  width: 357px;
  height: 48px;
  border-radius: 12px;
  background-color: #f2f5f9;

  display: flex;
  flex-direction: row-reverse;
}

header form input {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 1px;

  background-color: #f2f5f9;
  font-size: 14px;
  color: #585b5f;
  font-weight: 500;
}

header form button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 12px;
  margin-left: 10px;
}

header form p {
  position: absolute;
  background-color: #fff;
  padding: 4px 14.5px;
  margin-top: 12.5px;
  margin-right: 10px;
  border-radius: 6px;

  font-size: 12px;
  font-weight: 500;
}

header div.middle-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

header div.middle-bar button.theme {
  height: 46px;
  width: 46px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  background-color: #f2f5f9;
}

header div.account {
  display: flex;
  gap: 16px;
}

header div.account a {
  text-decoration: none;
  padding: 14px 16px;
  border-radius: 12px;

  font-weight: bold;
}

header div.account a#account-create {
  color: #8000ad;
}

header div.account a#account-login {
  color: #fff;
  background-color: #8000ad;
}
